<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>list.ejs</title>
	
</head>
<body>

<h1>list page</h1>
<a href="/insert" class="btn_insert">insert data</a>
<hr/>

<div class="list_d">
	<ol>
		<% data.forEach(function(item, idx){ 
			var sex = '남';
			if(item.sex != 'm') sex = '여';
		%>
		<li>
			<a href="/delete/<%= item.id %>">Delete</a>
			<a href="/edit/<%= item.id %>">Edit</a>
			<span><%= item.id %> (<%= sex %>)</span>
			<strong><%= item.name %></strong>
			<span><%= item.age %></span>
			<a href="tel:<%= item.phone %>"><%= item.phone %></a>
			<address><%= item.adrs %></address>
		</li>
		<% }) %>
	</ol>
</div>

</body>
</html>